@font-face {
  font-family: "Orbitron", sans-serif;
  src: url("assets/fonts/Orbitron-Regular.ttf");
}
@font-face {
  font-family: "Exo2", sans-serif;
  src: url("assets/fonts/Exo2-Regular.ttf");
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("assets/fonts/Inter-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#020316, #071232);
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Stars */
#stars, #shooting-stars {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
  from { opacity: 0.3; }
  to { opacity: 1; }
}

/* Hero */
#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-text {
  font-family: "Exo2", sans-serif;
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}


#rocket-wrapper {
  position: relative;
}

#rocket {
  width: 180px;
}


/* Planets */
.planet-section {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10%;
  position: relative;
}

.planet {
  width: 300px;
  animation: float 5s ease-in-out infinite;
  filter: drop-shadow(0 0 25px rgba(255,255,255,0.25));
}

.info-box {
  position: absolute;
  right: 40%;
  width: 420px;
  padding: 20px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 16px;
  opacity: 0;
  transform: translateX(80px);
  transition: 2s;
}

.info-box h2 {
  font-family: "Orbitron", sans-serif;
  margin-bottom: 10px;
}

.planet-section.active .info-box {
  opacity: 1;
  transform: translateX(0);
}
.shooting-star {
  position: absolute;
  width: 120px;
  height: 2px;
  background: linear-gradient(90deg, white, transparent);
  opacity: 0.8;
  transform: rotate(-45deg);
  animation: shoot 2.5s linear forwards;
}

@keyframes shoot {
  from {
    transform: translate(0, 0) rotate(-45deg);
    opacity: 1;
  }
  to {
    transform: translate(-650px, 600px) rotate(-45deg);
    opacity: 0;
  }
}
